body{
    font-family:sans-serif;
    background-color: rgb(6, 6, 104);
}
 .container{
    width:440px;
    margin-left:33%;
    background-color: rgb(178, 204, 228);
    margin-top:15px;
    padding: 11px;
  
     }
 
.head{
    text-align:center;
    padding: 11px;
    font-size: 30px;
    font-style:bold;
    font-weight:bold;
}
.quiz{
    margin-left:11px;

}

.btn {
    text-align:center;
    padding:11px; 
 } 

 button {
    width: 140px;
    height: 40px;
    background-color: blue;
    color: aliceblue;
    font-size: 24px;
    border:none;
    outline-color:none;
    border-radius:4px;
}